<div class="resource__attribute">
  <h2>
    <span><%= user.username %></span>
  </h2>
  <p>
    <strong>First name</strong>: <span><%= user.first_name %></span>
  </p>
  <p>
    <strong>Last name</strong>: <span><%= user.last_name %></span>
  </p>
  <p>
    <strong>Username</strong>: <span><%= user.username %></span>
  </p>
</div>
