<%= turbo_frame_tag dom_id(bike) do %>
  <div class="bike">
    <%= link_to bike.name, 
      bike_path(bike),
      data: { turbo_frame: "_top" } %>
    <div class="bike__actions">
      <%= button_to "Delete",
        bike_path(bike),
        method: :delete,
        class: "btn btn--light" %>
      <%= link_to "Edit",
        edit_bike_path(bike),
        class: "btn btn--light" %>
    </div>
  </div>
<% end %>
