<%= simple_form_for bike, html: { class: "bike form" } do |f| %>
  <% if bike.errors.any? %>
    <div class="error-message">
      <%= bike.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>

  <%= f.input :name, input_html: { autofocus: true } %>
  <%= f.submit class: "btn btn--secondary" %>
<% end %>
