<main class="container">
  <%= link_to sanitize("&larr; Back to bikes"), bikes_path %>

  <div class="header">
    <h1>New bike</h1>
    <%= link_to "Cancel", 
        bikes_path, 
        class: "btn btn--light" %>
  </div>

  <%= render "form", bike: @bike %>
</main>
