<div class="ride__attribute">
  <h2>
    <span><%= vendor.name %>, vendor details</span>
  </h2>
  <p>
    <strong>Description</strong>: <span><%= vendor.description %></span>
  </p>
  <p>
    <strong>Postal code</strong>: <span><%= vendor.postal_code %></span>
  </p>
</div>
