<main class="container">
  <%= link_to sanitize("&larr; Back to vendors"), vendors_path %>

  <div class="header">
    <h1>New vendor</h1>
    <div class="ride__actions">
      <%= link_to "Cancel", 
          vendors_path, 
          class: "btn btn--light" %>
      <input type="submit" 
        value="Submit" 
        class="btn btn--secondary" 
        form="vendor-form">
    </div>
  </div>

  <%= render "form", vendor: @vendor %>
</main>
