<div class="ride">
  <div>
    <span>
      <strong><%= link_to ride.name, 
        ride_path(ride) %></strong> --
      <span>
        <% if ride.coffees.zero? %>
          <span>😔</span>
        <% else %>
          <% ride.coffees.times do %>
            <%= render "coffee" %>
          <% end %>
        <% end %>
      </span>
    </span>
  </div>
  <div class="ride__actions">
    <%= link_to "View",
      ride_path(ride),
      class: "btn btn--light" %>
    <%= link_to "Edit",
      edit_ride_path(ride),
      class: "btn btn--light" %>
  </div>
</div>
